<h2 class="my-3">Ultimos quartos adicionados</h2>
<div class="container">
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col">
        <div class="card">
          <img src="https://www.tuacasa.com.br/wp-content/uploads/2020/08/quadros-para-quarto-de-casal-capa.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= room.title %></h5>
            <h4 class="card-title"><%= room.location %></h4>
            <p class="card-text"><%= room.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
