<header>
  <nav class="navbar navbar-expand-md  bg-dark">
    <div class="container d-flex align-items-center justify-content-between">
      <ul class="nav">
        <li>
          <%= link_to "Colcho.net", root_path, class: "fs-4 text-decoration-none text-info me-5" %>
        </li>
        <li><%= link_to "Cadastro", new_user_path,class: "nav-link px-2 text-white" %>
        </li>
        <li><%= link_to "Quartos", rooms_path,class: "nav-link px-2 text-white" %></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </nav>
</header>
